<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments/menu :: menu}"></div>
    <h1>Book Store</h1>
    <table class="table table-hover table-bordered">
        <thead class="thead font-weight:bold">
        <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Book Title</th>
            <th scope="col">Author</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}" scope="row">
            <td th:text="${book.bookId}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.price}"></td>
            <td>
                <a th:href="@{'edit/' + ${book.bookId}}" class="btn btn-primary">Edit</a>
                <a th:href="@{'delete/' + ${book.bookId}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/book/list(page=${currentPage > 0 ? currentPage - 1 : 0},size=${size})}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == i} ? 'active'">
                <a class="page-link" th:href="@{/book/list(page=${i},size=${size})}" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/book/list(page=${currentPage < totalPages - 1 ? currentPage + 1 : totalPages - 1},size=${size})}">Next</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
